body {
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

body header#header {
    margin: auto;
    text-align: center;
}

body footer {
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(137, 148, 158);
    color: black;
}
div#comparison {
    background:rgb(243, 247, 250);
    
}
h3 {
    font-size: 1.2em
}

div.list {
    display: inline-block;
    align-content: center;
    padding: 20px
}